

#banner {
  background-image: url('./images/mountain_background.jpg');
  background-size: cover;
  background-height: 100%;
  background-width: 100%;
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
  letter-spacing: 3.5px;
  font-size: 25px;
  font-weight: bold;

}

#tile {
  background-color: white;
  position: fixed;
  background-size: cover;
  background-height: 100%;
  background-width: 100%;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}


.leaflet-container img {
  width:200px;
}


.leaflet-popup-content {
  text-align: center;
}

#input {
  margin: auto;
  margin-left: 125px;
  margin-top: 215px;
  position: absolute;
}

input[type="text"]{
  height: 40px;
  width: 700px;
  padding-left: 10px;
}



#photos {
  max-height: 100%;
  max-width: 100%;

}
#upload {
  padding-left: 20px;
  padding-top: 40px;
  font-size: 20px;
  color: #b5b7b9;
  background: #45484f;
  position: fixed;
  background-size: cover;
  background-height: 100%;
  background-width: 100%;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;

}


.photographText {
  color:black;
}
.commentText {
  color:black;
}


.NavBar {
  display: flex;
}

.NavBar a {
  margin: 0 auto;
  background-color: whitesmoke;
}