#map {
  height: 400px;
  width: 100%;
<<<<<<< HEAD

=======
>>>>>>> 764fbbe77c91603264caadc724bd9886d09a4cb3
}


body {
  color: white;
  font-family: "Helvetica";
  text-align: center;
  background-image: url('./images/mucangchai.jpg');
  background-size: cover;
  background-height: 100%;
  background-width: 100%;
  font-size: 20px;

}


input {
  border-radius: 50px;
  width: 800px;
  height: 40px;
  margin: 200px;
  position: relative;
  size: 100px;
}